.miss{
    border: 2px solid black;
    width: 300px;
    background-color: #e06666;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    padding: .5rem 2rem;
    animation: 3s infinite alternate slide;
}

.hit{
    border: 2px solid black;
    width: 300px;
    background-color: #75e066;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    padding: .5rem 2rem;
    animation: 3s infinite alternate slide;
}

@keyframes slide {
    0% {left: 100%;}
    30% {left: 85%;}
    70% {left: 85%;}
    100% {left: 100%}
}