.container{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.image{
    place-items: center;
    width: 1200px;
    height: 850px;
    cursor: url("../../Assets/target-scope.png");
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
}

