.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 40vh;
    overflow-y: scroll;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currentScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7FF86;
    width: 100%;
    border-radius: 10px;
}